# Une mesure de l'inflation liée aux journaux - Projet Python pour la Data-science

### Auteurs : Lise Marchal, Raphaël Pereira et Raphaël Zambélli--Palacio

Ce notebook a pour objectif de présenter les travaux de recherche effectués dans le cadre du cours de Projet Python pour la data-science de la 2A ENSAE.

## Problématique :

Les périodes caractérisées par un taux d'inflation élevé coïcident-elles avec celles de traitement médiatique accru de cette thématique ?

# 1- Statistiques descriptives des mesures d'inflation sur la période

## 1.1- Récupération et nettoyage des données d'inflation de la FED de Saint-Louis

### 1.1.1- Utilisation de l'API de la FRED:

lien documentation pour obtenir les séries d'inflation: https://fred.stlouisfed.org/docs/api/fred/series_observations.html

In [48]:
# Création de l'URL permettant d'accéder à la série:  Consumer Price Index for All Urban Consumers: All Items in U.S. City Average

api_root="https://api.stlouisfed.org/fred/series/observations"
series_id="CPIAUCNS"
api_key="69c5f0ad2e33d8dac6297c8b3f25bb1f"
file_type="json"

url_api = (
    f"{api_root}?"
    + f"series_id={series_id}&"
    + f"api_key={api_key}&"
    + f"file_type={file_type}"
)

In [49]:
#Requête

import requests

req = requests.get(url_api)
wb = req.json()

In [50]:
#Première exploration des données
for observation in wb["observations"]:
    print(f"Date: {observation['date']}, Valeur: {observation['value']}")

Date: 1913-01-01, Valeur: 9.800
Date: 1913-02-01, Valeur: 9.800
Date: 1913-03-01, Valeur: 9.800
Date: 1913-04-01, Valeur: 9.800
Date: 1913-05-01, Valeur: 9.700
Date: 1913-06-01, Valeur: 9.800
Date: 1913-07-01, Valeur: 9.900
Date: 1913-08-01, Valeur: 9.900
Date: 1913-09-01, Valeur: 10.000
Date: 1913-10-01, Valeur: 10.000
Date: 1913-11-01, Valeur: 10.100
Date: 1913-12-01, Valeur: 10.000
Date: 1914-01-01, Valeur: 10.000
Date: 1914-02-01, Valeur: 9.900
Date: 1914-03-01, Valeur: 9.900
Date: 1914-04-01, Valeur: 9.800
Date: 1914-05-01, Valeur: 9.900
Date: 1914-06-01, Valeur: 9.900
Date: 1914-07-01, Valeur: 10.000
Date: 1914-08-01, Valeur: 10.200
Date: 1914-09-01, Valeur: 10.200
Date: 1914-10-01, Valeur: 10.100
Date: 1914-11-01, Valeur: 10.200
Date: 1914-12-01, Valeur: 10.100
Date: 1915-01-01, Valeur: 10.100
Date: 1915-02-01, Valeur: 10.000
Date: 1915-03-01, Valeur: 9.900
Date: 1915-04-01, Valeur: 10.000
Date: 1915-05-01, Valeur: 10.100
Date: 1915-06-01, Valeur: 10.100
Date: 1915-07-01, Valeur: 10.100
Date: 1915-08-01, Valeur: 10.100
Date: 1915-09-01, Valeur: 10.100
Date: 1915-10-01, Valeur: 10.200
Date: 1915-11-01, Valeur: 10.300
Date: 1915-12-01, Valeur: 10.300
Date: 1916-01-01, Valeur: 10.400
Date: 1916-02-01, Valeur: 10.400
Date: 1916-03-01, Valeur: 10.500
Date: 1916-04-01, Valeur: 10.600
Date: 1916-05-01, Valeur: 10.700
Date: 1916-06-01, Valeur: 10.800
Date: 1916-07-01, Valeur: 10.800
Date: 1916-08-01, Valeur: 10.900
Date: 1916-09-01, Valeur: 11.100
Date: 1916-10-01, Valeur: 11.300
Date: 1916-11-01, Valeur: 11.500
Date: 1916-12-01, Valeur: 11.600
Date: 1917-01-01, Valeur: 11.700
Date: 1917-02-01, Valeur: 12.000
Date: 1917-03-01, Valeur: 12.000
Date: 1917-04-01, Valeur: 12.600
Date: 1917-05-01, Valeur: 12.800
Date: 1917-06-01, Valeur: 13.000
Date: 1917-07-01, Valeur: 12.800
Date: 1917-08-01, Valeur: 13.000
Date: 1917-09-01, Valeur: 13.300
Date: 1917-10-01, Valeur: 13.500
Date: 1917-11-01, Valeur: 13.500
Date: 1917-12-01, Valeur: 13.700
Date: 1918-01-01, Valeur: 14.000
Date: 1918-02-01, Valeur: 14.100
Date: 1918-03-01, Valeur: 14.000
Date: 1918-04-01, Valeur: 14.200
Date: 1918-05-01, Valeur: 14.500
Date: 1918-06-01, Valeur: 14.700
Date: 1918-07-01, Valeur: 15.100
Date: 1918-08-01, Valeur: 15.400
Date: 1918-09-01, Valeur: 15.700
Date: 1918-10-01, Valeur: 16.000
Date: 1918-11-01, Valeur: 16.300
Date: 1918-12-01, Valeur: 16.500
Date: 1919-01-01, Valeur: 16.500
Date: 1919-02-01, Valeur: 16.200
Date: 1919-03-01, Valeur: 16.400
Date: 1919-04-01, Valeur: 16.700
Date: 1919-05-01, Valeur: 16.900
Date: 1919-06-01, Valeur: 16.900
Date: 1919-07-01, Valeur: 17.400
Date: 1919-08-01, Valeur: 17.700
Date: 1919-09-01, Valeur: 17.800
Date: 1919-10-01, Valeur: 18.100
Date: 1919-11-01, Valeur: 18.500
Date: 1919-12-01, Valeur: 18.900
Date: 1920-01-01, Valeur: 19.300
Date: 1920-02-01, Valeur: 19.500
Date: 1920-03-01, Valeur: 19.700
Date: 1920-04-01, Valeur: 20.300
Date: 1920-05-01, Valeur: 20.600
Date: 1920-06-01, Valeur: 20.900
Date: 1920-07-01, Valeur: 20.800
Date: 1920-08-01, Valeur: 20.300
Date: 1920-09-01, Valeur: 20.000
Date: 1920-10-01, Valeur: 19.900
Date: 1920-11-01, Valeur: 19.800
Date: 1920-12-01, Valeur: 19.400
Date: 1921-01-01, Valeur: 19
Date: 1921-02-01, Valeur: 18.4
Date: 1921-03-01, Valeur: 18.3
Date: 1921-04-01, Valeur: 18.1
Date: 1921-05-01, Valeur: 17.7
Date: 1921-06-01, Valeur: 17.6
Date: 1921-07-01, Valeur: 17.7
Date: 1921-08-01, Valeur: 17.7
Date: 1921-09-01, Valeur: 17.5
Date: 1921-10-01, Valeur: 17.5
Date: 1921-11-01, Valeur: 17.4
Date: 1921-12-01, Valeur: 17.3
Date: 1922-01-01, Valeur: 16.9
Date: 1922-02-01, Valeur: 16.9
Date: 1922-03-01, Valeur: 16.7
Date: 1922-04-01, Valeur: 16.7
Date: 1922-05-01, Valeur: 16.7
Date: 1922-06-01, Valeur: 16.7
Date: 1922-07-01, Valeur: 16.8
Date: 1922-08-01, Valeur: 16.6
Date: 1922-09-01, Valeur: 16.6
Date: 1922-10-01, Valeur: 16.7
Date: 1922-11-01, Valeur: 16.8
Date: 1922-12-01, Valeur: 16.9
Date: 1923-01-01, Valeur: 16.8
Date: 1923-02-01, Valeur: 16.8
Date: 1923-03-01, Valeur: 16.8
Date: 1923-04-01, Valeur: 16.9
Date: 1923-05-01, Valeur: 16.9
Date: 1923-06-01, Valeur: 17
Date: 1923-07-01, Valeur: 17.2
Date: 1923-08-01, Valeur: 17.1
Date: 1923-09-01, Valeur: 17.2
Date: 1923-10-01, Valeur: 17.3
Date: 1923-11-01, Valeur: 17.3
Date: 1923-12-01, Valeur: 17.3
Date: 1924-01-01, Valeur: 17.3
Date: 1924-02-01, Valeur: 17.2
Date: 1924-03-01, Valeur: 17.1
Date: 1924-04-01, Valeur: 17
Date: 1924-05-01, Valeur: 17
Date: 1924-06-01, Valeur: 17
Date: 1924-07-01, Valeur: 17.1
Date: 1924-08-01, Valeur: 17
Date: 1924-09-01, Valeur: 17.1
Date: 1924-10-01, Valeur: 17.2
Date: 1924-11-01, Valeur: 17.2
Date: 1924-12-01, Valeur: 17.3
Date: 1925-01-01, Valeur: 17.3
Date: 1925-02-01, Valeur: 17.2
Date: 1925-03-01, Valeur: 17.3
Date: 1925-04-01, Valeur: 17.2
Date: 1925-05-01, Valeur: 17.3
Date: 1925-06-01, Valeur: 17.5
Date: 1925-07-01, Valeur: 17.7
Date: 1925-08-01, Valeur: 17.7
Date: 1925-09-01, Valeur: 17.7
Date: 1925-10-01, Valeur: 17.7
Date: 1925-11-01, Valeur: 18
Date: 1925-12-01, Valeur: 17.9
Date: 1926-01-01, Valeur: 17.9
Date: 1926-02-01, Valeur: 17.9
Date: 1926-03-01, Valeur: 17.8
Date: 1926-04-01, Valeur: 17.9
Date: 1926-05-01, Valeur: 17.8
Date: 1926-06-01, Valeur: 17.7
Date: 1926-07-01, Valeur: 17.5
Date: 1926-08-01, Valeur: 17.4
Date: 1926-09-01, Valeur: 17.5
Date: 1926-10-01, Valeur: 17.6
Date: 1926-11-01, Valeur: 17.7
Date: 1926-12-01, Valeur: 17.7
Date: 1927-01-01, Valeur: 17.5
Date: 1927-02-01, Valeur: 17.4
Date: 1927-03-01, Valeur: 17.3
Date: 1927-04-01, Valeur: 17.3
Date: 1927-05-01, Valeur: 17.4
Date: 1927-06-01, Valeur: 17.6
Date: 1927-07-01, Valeur: 17.3
Date: 1927-08-01, Valeur: 17.2
Date: 1927-09-01, Valeur: 17.3
Date: 1927-10-01, Valeur: 17.4
Date: 1927-11-01, Valeur: 17.3
Date: 1927-12-01, Valeur: 17.3
Date: 1928-01-01, Valeur: 17.3
Date: 1928-02-01, Valeur: 17.1
Date: 1928-03-01, Valeur: 17.1
Date: 1928-04-01, Valeur: 17.1
Date: 1928-05-01, Valeur: 17.2
Date: 1928-06-01, Valeur: 17.1
Date: 1928-07-01, Valeur: 17.1
Date: 1928-08-01, Valeur: 17.1
Date: 1928-09-01, Valeur: 17.3
Date: 1928-10-01, Valeur: 17.2
Date: 1928-11-01, Valeur: 17.2
Date: 1928-12-01, Valeur: 17.1
Date: 1929-01-01, Valeur: 17.1
Date: 1929-02-01, Valeur: 17.1
Date: 1929-03-01, Valeur: 17
Date: 1929-04-01, Valeur: 16.9
Date: 1929-05-01, Valeur: 17
Date: 1929-06-01, Valeur: 17.1
Date: 1929-07-01, Valeur: 17.3
Date: 1929-08-01, Valeur: 17.3
Date: 1929-09-01, Valeur: 17.3
Date: 1929-10-01, Valeur: 17.3
Date: 1929-11-01, Valeur: 17.3
Date: 1929-12-01, Valeur: 17.2
Date: 1930-01-01, Valeur: 17.1
Date: 1930-02-01, Valeur: 17
Date: 1930-03-01, Valeur: 16.9
Date: 1930-04-01, Valeur: 17
Date: 1930-05-01, Valeur: 16.9
Date: 1930-06-01, Valeur: 16.8
Date: 1930-07-01, Valeur: 16.6
Date: 1930-08-01, Valeur: 16.5
Date: 1930-09-01, Valeur: 16.6
Date: 1930-10-01, Valeur: 16.5
Date: 1930-11-01, Valeur: 16.4
Date: 1930-12-01, Valeur: 16.1
Date: 1931-01-01, Valeur: 15.9
Date: 1931-02-01, Valeur: 15.7
Date: 1931-03-01, Valeur: 15.6
Date: 1931-04-01, Valeur: 15.5
Date: 1931-05-01, Valeur: 15.3
Date: 1931-06-01, Valeur: 15.1
Date: 1931-07-01, Valeur: 15.1
Date: 1931-08-01, Valeur: 15.1
Date: 1931-09-01, Valeur: 15
Date: 1931-10-01, Valeur: 14.9
Date: 1931-11-01, Valeur: 14.7
Date: 1931-12-01, Valeur: 14.6
Date: 1932-01-01, Valeur: 14.3
Date: 1932-02-01, Valeur: 14.1
Date: 1932-03-01, Valeur: 14
Date: 1932-04-01, Valeur: 13.9
Date: 1932-05-01, Valeur: 13.7
Date: 1932-06-01, Valeur: 13.6
Date: 1932-07-01, Valeur: 13.6
Date: 1932-08-01, Valeur: 13.5
Date: 1932-09-01, Valeur: 13.4
Date: 1932-10-01, Valeur: 13.3
Date: 1932-11-01, Valeur: 13.2
Date: 1932-12-01, Valeur: 13.1
Date: 1933-01-01, Valeur: 12.9
Date: 1933-02-01, Valeur: 12.7
Date: 1933-03-01, Valeur: 12.6
Date: 1933-04-01, Valeur: 12.6
Date: 1933-05-01, Valeur: 12.6
Date: 1933-06-01, Valeur: 12.7
Date: 1933-07-01, Valeur: 13.1
Date: 1933-08-01, Valeur: 13.2
Date: 1933-09-01, Valeur: 13.2
Date: 1933-10-01, Valeur: 13.2
Date: 1933-11-01, Valeur: 13.2
Date: 1933-12-01, Valeur: 13.2
Date: 1934-01-01, Valeur: 13.2
Date: 1934-02-01, Valeur: 13.3
Date: 1934-03-01, Valeur: 13.3
Date: 1934-04-01, Valeur: 13.3
Date: 1934-05-01, Valeur: 13.3
Date: 1934-06-01, Valeur: 13.4
Date: 1934-07-01, Valeur: 13.4
Date: 1934-08-01, Valeur: 13.4
Date: 1934-09-01, Valeur: 13.6
Date: 1934-10-01, Valeur: 13.5
Date: 1934-11-01, Valeur: 13.5
Date: 1934-12-01, Valeur: 13.4
Date: 1935-01-01, Valeur: 13.6
Date: 1935-02-01, Valeur: 13.7
Date: 1935-03-01, Valeur: 13.7
Date: 1935-04-01, Valeur: 13.8
Date: 1935-05-01, Valeur: 13.8
Date: 1935-06-01, Valeur: 13.7
Date: 1935-07-01, Valeur: 13.7
Date: 1935-08-01, Valeur: 13.7
Date: 1935-09-01, Valeur: 13.7
Date: 1935-10-01, Valeur: 13.7
Date: 1935-11-01, Valeur: 13.8
Date: 1935-12-01, Valeur: 13.8
Date: 1936-01-01, Valeur: 13.8
Date: 1936-02-01, Valeur: 13.8
Date: 1936-03-01, Valeur: 13.7
Date: 1936-04-01, Valeur: 13.7
Date: 1936-05-01, Valeur: 13.7
Date: 1936-06-01, Valeur: 13.8
Date: 1936-07-01, Valeur: 13.9
Date: 1936-08-01, Valeur: 14
Date: 1936-09-01, Valeur: 14
Date: 1936-10-01, Valeur: 14
Date: 1936-11-01, Valeur: 14
Date: 1936-12-01, Valeur: 14
Date: 1937-01-01, Valeur: 14.1
Date: 1937-02-01, Valeur: 14.1
Date: 1937-03-01, Valeur: 14.2
Date: 1937-04-01, Valeur: 14.3
Date: 1937-05-01, Valeur: 14.4
Date: 1937-06-01, Valeur: 14.4
Date: 1937-07-01, Valeur: 14.5
Date: 1937-08-01, Valeur: 14.5
Date: 1937-09-01, Valeur: 14.6
Date: 1937-10-01, Valeur: 14.6
Date: 1937-11-01, Valeur: 14.5
Date: 1937-12-01, Valeur: 14.4
Date: 1938-01-01, Valeur: 14.2
Date: 1938-02-01, Valeur: 14.1
Date: 1938-03-01, Valeur: 14.1
Date: 1938-04-01, Valeur: 14.2
Date: 1938-05-01, Valeur: 14.1
Date: 1938-06-01, Valeur: 14.1
Date: 1938-07-01, Valeur: 14.1
Date: 1938-08-01, Valeur: 14.1
Date: 1938-09-01, Valeur: 14.1
Date: 1938-10-01, Valeur: 14
Date: 1938-11-01, Valeur: 14
Date: 1938-12-01, Valeur: 14
Date: 1939-01-01, Valeur: 14
Date: 1939-02-01, Valeur: 13.9
Date: 1939-03-01, Valeur: 13.9
Date: 1939-04-01, Valeur: 13.8
Date: 1939-05-01, Valeur: 13.8
Date: 1939-06-01, Valeur: 13.8
Date: 1939-07-01, Valeur: 13.8
Date: 1939-08-01, Valeur: 13.8
Date: 1939-09-01, Valeur: 14.1
Date: 1939-10-01, Valeur: 14
Date: 1939-11-01, Valeur: 14
Date: 1939-12-01, Valeur: 14
Date: 1940-01-01, Valeur: 13.9
Date: 1940-02-01, Valeur: 14
Date: 1940-03-01, Valeur: 14
Date: 1940-04-01, Valeur: 14
Date: 1940-05-01, Valeur: 14
Date: 1940-06-01, Valeur: 14.1
Date: 1940-07-01, Valeur: 14
Date: 1940-08-01, Valeur: 14
Date: 1940-09-01, Valeur: 14
Date: 1940-10-01, Valeur: 14
Date: 1940-11-01, Valeur: 14
Date: 1940-12-01, Valeur: 14.1
Date: 1941-01-01, Valeur: 14.1
Date: 1941-02-01, Valeur: 14.1
Date: 1941-03-01, Valeur: 14.2
Date: 1941-04-01, Valeur: 14.3
Date: 1941-05-01, Valeur: 14.4
Date: 1941-06-01, Valeur: 14.7
Date: 1941-07-01, Valeur: 14.7
Date: 1941-08-01, Valeur: 14.9
Date: 1941-09-01, Valeur: 15.1
Date: 1941-10-01, Valeur: 15.3
Date: 1941-11-01, Valeur: 15.4
Date: 1941-12-01, Valeur: 15.5
Date: 1942-01-01, Valeur: 15.7
Date: 1942-02-01, Valeur: 15.8
Date: 1942-03-01, Valeur: 16
Date: 1942-04-01, Valeur: 16.1
Date: 1942-05-01, Valeur: 16.3
Date: 1942-06-01, Valeur: 16.3
Date: 1942-07-01, Valeur: 16.4
Date: 1942-08-01, Valeur: 16.5
Date: 1942-09-01, Valeur: 16.5
Date: 1942-10-01, Valeur: 16.7
Date: 1942-11-01, Valeur: 16.8
Date: 1942-12-01, Valeur: 16.9
Date: 1943-01-01, Valeur: 16.9
Date: 1943-02-01, Valeur: 16.9
Date: 1943-03-01, Valeur: 17.2
Date: 1943-04-01, Valeur: 17.4
Date: 1943-05-01, Valeur: 17.5
Date: 1943-06-01, Valeur: 17.5
Date: 1943-07-01, Valeur: 17.4
Date: 1943-08-01, Valeur: 17.3
Date: 1943-09-01, Valeur: 17.4
Date: 1943-10-01, Valeur: 17.4
Date: 1943-11-01, Valeur: 17.4
Date: 1943-12-01, Valeur: 17.4
Date: 1944-01-01, Valeur: 17.4
Date: 1944-02-01, Valeur: 17.4
Date: 1944-03-01, Valeur: 17.4
Date: 1944-04-01, Valeur: 17.5
Date: 1944-05-01, Valeur: 17.5
Date: 1944-06-01, Valeur: 17.6
Date: 1944-07-01, Valeur: 17.7
Date: 1944-08-01, Valeur: 17.7
Date: 1944-09-01, Valeur: 17.7
Date: 1944-10-01, Valeur: 17.7
Date: 1944-11-01, Valeur: 17.7
Date: 1944-12-01, Valeur: 17.8
Date: 1945-01-01, Valeur: 17.8
Date: 1945-02-01, Valeur: 17.8
Date: 1945-03-01, Valeur: 17.8
Date: 1945-04-01, Valeur: 17.8
Date: 1945-05-01, Valeur: 17.9
Date: 1945-06-01, Valeur: 18.1
Date: 1945-07-01, Valeur: 18.1
Date: 1945-08-01, Valeur: 18.1
Date: 1945-09-01, Valeur: 18.1
Date: 1945-10-01, Valeur: 18.1
Date: 1945-11-01, Valeur: 18.1
Date: 1945-12-01, Valeur: 18.2
Date: 1946-01-01, Valeur: 18.2
Date: 1946-02-01, Valeur: 18.1
Date: 1946-03-01, Valeur: 18.3
Date: 1946-04-01, Valeur: 18.4
Date: 1946-05-01, Valeur: 18.5
Date: 1946-06-01, Valeur: 18.7
Date: 1946-07-01, Valeur: 19.8
Date: 1946-08-01, Valeur: 20.2
Date: 1946-09-01, Valeur: 20.4
Date: 1946-10-01, Valeur: 20.8
Date: 1946-11-01, Valeur: 21.3
Date: 1946-12-01, Valeur: 21.5
Date: 1947-01-01, Valeur: 21.5
Date: 1947-02-01, Valeur: 21.5
Date: 1947-03-01, Valeur: 21.9
Date: 1947-04-01, Valeur: 21.9
Date: 1947-05-01, Valeur: 21.9
Date: 1947-06-01, Valeur: 22.0
Date: 1947-07-01, Valeur: 22.2
Date: 1947-08-01, Valeur: 22.5
Date: 1947-09-01, Valeur: 23.0
Date: 1947-10-01, Valeur: 23.0
Date: 1947-11-01, Valeur: 23.1
Date: 1947-12-01, Valeur: 23.4
Date: 1948-01-01, Valeur: 23.7
Date: 1948-02-01, Valeur: 23.5
Date: 1948-03-01, Valeur: 23.4
Date: 1948-04-01, Valeur: 23.8
Date: 1948-05-01, Valeur: 23.9
Date: 1948-06-01, Valeur: 24.1
Date: 1948-07-01, Valeur: 24.4
Date: 1948-08-01, Valeur: 24.5
Date: 1948-09-01, Valeur: 24.5
Date: 1948-10-01, Valeur: 24.4
Date: 1948-11-01, Valeur: 24.2
Date: 1948-12-01, Valeur: 24.1
Date: 1949-01-01, Valeur: 24.0
Date: 1949-02-01, Valeur: 23.8
Date: 1949-03-01, Valeur: 23.8
Date: 1949-04-01, Valeur: 23.9
Date: 1949-05-01, Valeur: 23.8
Date: 1949-06-01, Valeur: 23.9
Date: 1949-07-01, Valeur: 23.7
Date: 1949-08-01, Valeur: 23.8
Date: 1949-09-01, Valeur: 23.9
Date: 1949-10-01, Valeur: 23.7
Date: 1949-11-01, Valeur: 23.8
Date: 1949-12-01, Valeur: 23.6
Date: 1950-01-01, Valeur: 23.5
Date: 1950-02-01, Valeur: 23.5
Date: 1950-03-01, Valeur: 23.6
Date: 1950-04-01, Valeur: 23.6
Date: 1950-05-01, Valeur: 23.7
Date: 1950-06-01, Valeur: 23.8
Date: 1950-07-01, Valeur: 24.1
Date: 1950-08-01, Valeur: 24.3
Date: 1950-09-01, Valeur: 24.4
Date: 1950-10-01, Valeur: 24.6
Date: 1950-11-01, Valeur: 24.7
Date: 1950-12-01, Valeur: 25.0
Date: 1951-01-01, Valeur: 25.4
Date: 1951-02-01, Valeur: 25.7
Date: 1951-03-01, Valeur: 25.8
Date: 1951-04-01, Valeur: 25.8
Date: 1951-05-01, Valeur: 25.9
Date: 1951-06-01, Valeur: 25.9
Date: 1951-07-01, Valeur: 25.9
Date: 1951-08-01, Valeur: 25.9
Date: 1951-09-01, Valeur: 26.1
Date: 1951-10-01, Valeur: 26.2
Date: 1951-11-01, Valeur: 26.4
Date: 1951-12-01, Valeur: 26.5
Date: 1952-01-01, Valeur: 26.5
Date: 1952-02-01, Valeur: 26.3
Date: 1952-03-01, Valeur: 26.3
Date: 1952-04-01, Valeur: 26.4
Date: 1952-05-01, Valeur: 26.4
Date: 1952-06-01, Valeur: 26.5
Date: 1952-07-01, Valeur: 26.7
Date: 1952-08-01, Valeur: 26.7
Date: 1952-09-01, Valeur: 26.7
Date: 1952-10-01, Valeur: 26.7
Date: 1952-11-01, Valeur: 26.7
Date: 1952-12-01, Valeur: 26.7
Date: 1953-01-01, Valeur: 26.6
Date: 1953-02-01, Valeur: 26.5
Date: 1953-03-01, Valeur: 26.6
Date: 1953-04-01, Valeur: 26.6
Date: 1953-05-01, Valeur: 26.7
Date: 1953-06-01, Valeur: 26.8
Date: 1953-07-01, Valeur: 26.8
Date: 1953-08-01, Valeur: 26.9
Date: 1953-09-01, Valeur: 26.9
Date: 1953-10-01, Valeur: 27.0
Date: 1953-11-01, Valeur: 26.9
Date: 1953-12-01, Valeur: 26.9
Date: 1954-01-01, Valeur: 26.9
Date: 1954-02-01, Valeur: 26.9
Date: 1954-03-01, Valeur: 26.9
Date: 1954-04-01, Valeur: 26.8
Date: 1954-05-01, Valeur: 26.9
Date: 1954-06-01, Valeur: 26.9
Date: 1954-07-01, Valeur: 26.9
Date: 1954-08-01, Valeur: 26.9
Date: 1954-09-01, Valeur: 26.8
Date: 1954-10-01, Valeur: 26.8
Date: 1954-11-01, Valeur: 26.8
Date: 1954-12-01, Valeur: 26.7
Date: 1955-01-01, Valeur: 26.7
Date: 1955-02-01, Valeur: 26.7
Date: 1955-03-01, Valeur: 26.7
Date: 1955-04-01, Valeur: 26.7
Date: 1955-05-01, Valeur: 26.7
Date: 1955-06-01, Valeur: 26.7
Date: 1955-07-01, Valeur: 26.8
Date: 1955-08-01, Valeur: 26.8
Date: 1955-09-01, Valeur: 26.9
Date: 1955-10-01, Valeur: 26.9
Date: 1955-11-01, Valeur: 26.9
Date: 1955-12-01, Valeur: 26.8
Date: 1956-01-01, Valeur: 26.8
Date: 1956-02-01, Valeur: 26.8
Date: 1956-03-01, Valeur: 26.8
Date: 1956-04-01, Valeur: 26.9
Date: 1956-05-01, Valeur: 27.0
Date: 1956-06-01, Valeur: 27.2
Date: 1956-07-01, Valeur: 27.4
Date: 1956-08-01, Valeur: 27.3
Date: 1956-09-01, Valeur: 27.4
Date: 1956-10-01, Valeur: 27.5
Date: 1956-11-01, Valeur: 27.5
Date: 1956-12-01, Valeur: 27.6
Date: 1957-01-01, Valeur: 27.6
Date: 1957-02-01, Valeur: 27.7
Date: 1957-03-01, Valeur: 27.8
Date: 1957-04-01, Valeur: 27.9
Date: 1957-05-01, Valeur: 28.0
Date: 1957-06-01, Valeur: 28.1
Date: 1957-07-01, Valeur: 28.3
Date: 1957-08-01, Valeur: 28.3
Date: 1957-09-01, Valeur: 28.3
Date: 1957-10-01, Valeur: 28.3
Date: 1957-11-01, Valeur: 28.4
Date: 1957-12-01, Valeur: 28.4
Date: 1958-01-01, Valeur: 28.6
Date: 1958-02-01, Valeur: 28.6
Date: 1958-03-01, Valeur: 28.8
Date: 1958-04-01, Valeur: 28.9
Date: 1958-05-01, Valeur: 28.9
Date: 1958-06-01, Valeur: 28.9
Date: 1958-07-01, Valeur: 29.0
Date: 1958-08-01, Valeur: 28.9
Date: 1958-09-01, Valeur: 28.9
Date: 1958-10-01, Valeur: 28.9
Date: 1958-11-01, Valeur: 29.0
Date: 1958-12-01, Valeur: 28.9
Date: 1959-01-01, Valeur: 29.0
Date: 1959-02-01, Valeur: 28.9
Date: 1959-03-01, Valeur: 28.9
Date: 1959-04-01, Valeur: 29.0
Date: 1959-05-01, Valeur: 29.0
Date: 1959-06-01, Valeur: 29.1
Date: 1959-07-01, Valeur: 29.2
Date: 1959-08-01, Valeur: 29.2
Date: 1959-09-01, Valeur: 29.3
Date: 1959-10-01, Valeur: 29.4
Date: 1959-11-01, Valeur: 29.4
Date: 1959-12-01, Valeur: 29.4
Date: 1960-01-01, Valeur: 29.3
Date: 1960-02-01, Valeur: 29.4
Date: 1960-03-01, Valeur: 29.4
Date: 1960-04-01, Valeur: 29.5
Date: 1960-05-01, Valeur: 29.5
Date: 1960-06-01, Valeur: 29.6
Date: 1960-07-01, Valeur: 29.6
Date: 1960-08-01, Valeur: 29.6
Date: 1960-09-01, Valeur: 29.6
Date: 1960-10-01, Valeur: 29.8
Date: 1960-11-01, Valeur: 29.8
Date: 1960-12-01, Valeur: 29.8
Date: 1961-01-01, Valeur: 29.8
Date: 1961-02-01, Valeur: 29.8
Date: 1961-03-01, Valeur: 29.8
Date: 1961-04-01, Valeur: 29.8
Date: 1961-05-01, Valeur: 29.8
Date: 1961-06-01, Valeur: 29.8
Date: 1961-07-01, Valeur: 30.0
Date: 1961-08-01, Valeur: 29.9
Date: 1961-09-01, Valeur: 30.0
Date: 1961-10-01, Valeur: 30.0
Date: 1961-11-01, Valeur: 30.0
Date: 1961-12-01, Valeur: 30.0
Date: 1962-01-01, Valeur: 30.0
Date: 1962-02-01, Valeur: 30.1
Date: 1962-03-01, Valeur: 30.1
Date: 1962-04-01, Valeur: 30.2
Date: 1962-05-01, Valeur: 30.2
Date: 1962-06-01, Valeur: 30.2
Date: 1962-07-01, Valeur: 30.3
Date: 1962-08-01, Valeur: 30.3
Date: 1962-09-01, Valeur: 30.4
Date: 1962-10-01, Valeur: 30.4
Date: 1962-11-01, Valeur: 30.4
Date: 1962-12-01, Valeur: 30.4
Date: 1963-01-01, Valeur: 30.4
Date: 1963-02-01, Valeur: 30.4
Date: 1963-03-01, Valeur: 30.5
Date: 1963-04-01, Valeur: 30.5
Date: 1963-05-01, Valeur: 30.5
Date: 1963-06-01, Valeur: 30.6
Date: 1963-07-01, Valeur: 30.7
Date: 1963-08-01, Valeur: 30.7
Date: 1963-09-01, Valeur: 30.7
Date: 1963-10-01, Valeur: 30.8
Date: 1963-11-01, Valeur: 30.8
Date: 1963-12-01, Valeur: 30.9
Date: 1964-01-01, Valeur: 30.9
Date: 1964-02-01, Valeur: 30.9
Date: 1964-03-01, Valeur: 30.9
Date: 1964-04-01, Valeur: 30.9
Date: 1964-05-01, Valeur: 30.9
Date: 1964-06-01, Valeur: 31.0
Date: 1964-07-01, Valeur: 31.1
Date: 1964-08-01, Valeur: 31.0
Date: 1964-09-01, Valeur: 31.1
Date: 1964-10-01, Valeur: 31.1
Date: 1964-11-01, Valeur: 31.2
Date: 1964-12-01, Valeur: 31.2
Date: 1965-01-01, Valeur: 31.2
Date: 1965-02-01, Valeur: 31.2
Date: 1965-03-01, Valeur: 31.3
Date: 1965-04-01, Valeur: 31.4
Date: 1965-05-01, Valeur: 31.4
Date: 1965-06-01, Valeur: 31.6
Date: 1965-07-01, Valeur: 31.6
Date: 1965-08-01, Valeur: 31.6
Date: 1965-09-01, Valeur: 31.6
Date: 1965-10-01, Valeur: 31.7
Date: 1965-11-01, Valeur: 31.7
Date: 1965-12-01, Valeur: 31.8
Date: 1966-01-01, Valeur: 31.8
Date: 1966-02-01, Valeur: 32.0
Date: 1966-03-01, Valeur: 32.1
Date: 1966-04-01, Valeur: 32.3
Date: 1966-05-01, Valeur: 32.3

In [51]:
#données imbriquées?
print(req.content[:1000])
# je dirais que oui, metadata

b'{"realtime_start":"2024-12-12","realtime_end":"2024-12-12","observation_start":"1600-01-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":1343,"offset":0,"limit":100000,"observations":[{"realtime_start":"2024-12-12","realtime_end":"2024-12-12","date":"1913-01-01","value":"9.800"},{"realtime_start":"2024-12-12","realtime_end":"2024-12-12","date":"1913-02-01","value":"9.800"},{"realtime_start":"2024-12-12","realtime_end":"2024-12-12","date":"1913-03-01","value":"9.800"},{"realtime_start":"2024-12-12","realtime_end":"2024-12-12","date":"1913-04-01","value":"9.800"},{"realtime_start":"2024-12-12","realtime_end":"2024-12-12","date":"1913-05-01","value":"9.700"},{"realtime_start":"2024-12-12","realtime_end":"2024-12-12","date":"1913-06-01","value":"9.800"},{"realtime_start":"2024-12-12","realtime_end":"2024-12-12","date":"1913-07-01","value":"9.900"},{"realtime_start":"2024-12-12","realtime_end":"2024-'

### 1.1.2- Nettoyage des données

#### Création et première exploration du dataframe

In [3]:
# Import des bibliothèques utiles: 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [53]:
# Création d'un dataframe à partir du fichier json

CPI_Urban=pd.json_normalize(wb["observations"]) #nested data?

In [54]:
CPI_Urban.head()

  realtime_start realtime_end        date  value
0     2024-12-12   2024-12-12  1913-01-01  9.800
1     2024-12-12   2024-12-12  1913-02-01  9.800
2     2024-12-12   2024-12-12  1913-03-01  9.800
3     2024-12-12   2024-12-12  1913-04-01  9.800
4     2024-12-12   2024-12-12  1913-05-01  9.700

In [55]:
# On ne garde que les deux dernières colonnes
CPI_Urban = CPI_Urban[["date", "value"]]
CPI_Urban.head()

         date  value
0  1913-01-01  9.800
1  1913-02-01  9.800
2  1913-03-01  9.800
3  1913-04-01  9.800
4  1913-05-01  9.700

In [56]:
# Infos générales
CPI_Urban.axes

[RangeIndex(start=0, stop=1343, step=1),
 Index(['date', 'value'], dtype='object')]

In [57]:
# Infos générales: types
CPI_Urban.dtypes

date     object
value    object
dtype: object

#### Traitement des values

In [58]:
CPI_Urban['value'] = pd.to_numeric(CPI_Urban['value'], errors='coerce')

#### Traitement des dates

In [59]:
CPI_Urban['date'] = pd.to_datetime(CPI_Urban['date'])
CPI_Urban['year'] = CPI_Urban['date'].dt.year
CPI_Urban['month'] = CPI_Urban['date'].dt.month

CPI_Urban.head(15)

         date  value  year  month
0  1913-01-01    9.8  1913      1
1  1913-02-01    9.8  1913      2
2  1913-03-01    9.8  1913      3
3  1913-04-01    9.8  1913      4
4  1913-05-01    9.7  1913      5
5  1913-06-01    9.8  1913      6
6  1913-07-01    9.9  1913      7
7  1913-08-01    9.9  1913      8
8  1913-09-01   10.0  1913      9
9  1913-10-01   10.0  1913     10
10 1913-11-01   10.1  1913     11
11 1913-12-01   10.0  1913     12
12 1914-01-01   10.0  1914      1
13 1914-02-01    9.9  1914      2
14 1914-03-01    9.9  1914      3

#### Création de la variable pourcentage d'inflation annuelle: 

Le jeu de données se présente en effet sous la forme d'indices avec une base 100 en 1983. 
Limite: Il n'est pas idéal d'avoir la date de la base postérieure à la période étudiée.

In [60]:
index_14=CPI_Urban.index[CPI_Urban['date'] == '1914-01-01'][0]
index_end=CPI_Urban.index[CPI_Urban['date'] == '1963-01-01'][0]

print(index_14, index_end)

12 600

In [61]:
#On ne calcule le taux d'inflation annuel que pour la période considérée
CPI_Urban['inf_an']=0.0

for i in range(index_14,index_end+1):
    b=CPI_Urban.loc[i,'value']
    a=CPI_Urban.loc[i-12,'value']
    CPI_Urban.at[i, 'inf_an']=((b-a)/a)*100

  
CPI_Urban.head(20)

         date  value  year  month    inf_an
0  1913-01-01    9.8  1913      1  0.000000
1  1913-02-01    9.8  1913      2  0.000000
2  1913-03-01    9.8  1913      3  0.000000
3  1913-04-01    9.8  1913      4  0.000000
4  1913-05-01    9.7  1913      5  0.000000
5  1913-06-01    9.8  1913      6  0.000000
6  1913-07-01    9.9  1913      7  0.000000
7  1913-08-01    9.9  1913      8  0.000000
8  1913-09-01   10.0  1913      9  0.000000
9  1913-10-01   10.0  1913     10  0.000000
10 1913-11-01   10.1  1913     11  0.000000
11 1913-12-01   10.0  1913     12  0.000000
12 1914-01-01   10.0  1914      1  2.040816
13 1914-02-01    9.9  1914      2  1.020408
14 1914-03-01    9.9  1914      3  1.020408
15 1914-04-01    9.8  1914      4  0.000000
16 1914-05-01    9.9  1914      5  2.061856
17 1914-06-01    9.9  1914      6  1.020408
18 1914-07-01   10.0  1914      7  1.010101
19 1914-08-01   10.2  1914      8  3.030303

#### Création d'un sous-tableau de la période considérée

In [62]:
CPI_sub = CPI_Urban[(CPI_Urban['year'] > 1913) & (CPI_Urban['year'] < 1963)]
CPI_sub.head(10)
CPI_sub.tail(10)

          date  value  year  month    inf_an
590 1962-03-01   30.1  1962      3  1.006711
591 1962-04-01   30.2  1962      4  1.342282
592 1962-05-01   30.2  1962      5  1.342282
593 1962-06-01   30.2  1962      6  1.342282
594 1962-07-01   30.3  1962      7  1.000000
595 1962-08-01   30.3  1962      8  1.337793
596 1962-09-01   30.4  1962      9  1.333333
597 1962-10-01   30.4  1962     10  1.333333
598 1962-11-01   30.4  1962     11  1.333333
599 1962-12-01   30.4  1962     12  1.333333

## 1.2- Traitement des données

### 1.2.1- Premières statistiques descriptives sur l'inflation pendant la période

In [63]:
CPI_sub['inf_an'].describe()

count    588.000000
mean       2.517532
std        6.607607
min      -15.789474
25%       -0.578035
50%        1.449275
75%        3.764927
max       23.668639
Name: inf_an, dtype: float64

In [64]:
#import seaborn as sns
#sns.lineplot(x=CPI_sub["date"],y=CPI_sub["inf_an"], marker='o')
#plt.axhline(y=0, color='r', linestyle='--', label='Ligne à y=25')

In [65]:
import plotly
import plotly.express as px
import plotly.io as pio

In [66]:
#from plotly.offline import init_notebook_mode
#init_notebook_mode(connected=True)

In [67]:
# Création du graphique (informations en passant la souris) EN FAIRE UNE FONCTION SI ON FAIT PLUSIEURS GRAPHIQUES DU MEME TYPE
# Rajouter légende

graph = px.line(CPI_sub, x="date", y="inf_an", title="Pourcentage d'inflation annuelle de 1914 à 1962")

# Légende et format des axes
graph.update_xaxes(title="Date", tickformat="%m-%Y")
graph.update_yaxes(title="Inflation (%)")

# Style du graphique
graph.update_layout(template="plotly_dark")

# Commentaires: max, min, moyenne, médiane
max=CPI_sub["inf_an"].max() 
min=CPI_sub["inf_an"].min()
mean=CPI_sub["inf_an"].mean()
median=CPI_sub["inf_an"].median()

date_max=CPI_sub.loc[CPI_sub["inf_an"] == max, "date"].values[0]
date_min=CPI_sub.loc[CPI_sub["inf_an"] == min, "date"].values[0]

# Pour l'instant l'ajout d'anotations fige le côté interactif du graphique
#graph.add_annotation(x=date_max, y=max, text="Maximum", showarrow=True, xref="x", yref="y") 
#graph.add_annotation(x=date_min, y=min, text="Minimum", showarrow=True)

graph.add_hline(y=mean, line_dash="dot", line_color="yellow", annotation_text="Moyenne", annotation_position="top left", annotation_font_color="yellow")
graph.add_hline(y=median, line_dash="dot", line_color="white", annotation_text="Médiane", annotation_position="bottom right", annotation_font_color="white")
graph.add_hline(y=0, line_color="red")

# Afficher le graphique avec zoom possible et barre à outil
graph.show(renderer="browser",config={"scrollZoom": True, "displayModeBar": True}) #pour l'instant je n'ai pas réussi à résoudre le pb pour que ça s'affiche directement dans le notebook

### 1.2.2- Identification de périodes d'intérêt

#### Identification des périodes d'inflation négative

In [68]:
# Création d'une indicatrice inf_neg qui prend la valeur 1 si l'inflation est négative et 0 sinon
CPI_sub['inf_neg']=0
CPI_sub.loc[CPI_sub['inf_an'] < 0, 'inf_neg'] = 1
CPI_sub.head(30)

C:\Users\lisem\AppData\Local\Temp\ipykernel_14432\1995190950.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         date  value  year  month    inf_an  inf_neg
12 1914-01-01   10.0  1914      1  2.040816        0
13 1914-02-01    9.9  1914      2  1.020408        0
14 1914-03-01    9.9  1914      3  1.020408        0
15 1914-04-01    9.8  1914      4  0.000000        0
16 1914-05-01    9.9  1914      5  2.061856        0
17 1914-06-01    9.9  1914      6  1.020408        0
18 1914-07-01   10.0  1914      7  1.010101        0
19 1914-08-01   10.2  1914      8  3.030303        0
20 1914-09-01   10.2  1914      9  2.000000        0
21 1914-10-01   10.1  1914     10  1.000000        0
22 1914-11-01   10.2  1914     11  0.990099        0
23 1914-12-01   10.1  1914     12  1.000000        0
24 1915-01-01   10.1  1915      1  1.000000        0
25 1915-02-01   10.0  1915      2  1.010101        0
26 1915-03-01    9.9  1915      3  0.000000        0
27 1915-04-01   10.0  1915      4  2.040816        0
28 1915-05-01   10.1  1915      5  2.020202        0
29 1915-06-01   10.1  1915      6  2.020202        0
30 1915-07-01   10.1  1915      7  1.000000        0
31 1915-08-01   10.1  1915      8 -0.980392        1
32 1915-09-01   10.1  1915      9 -0.980392        1
33 1915-10-01   10.2  1915     10  0.990099        0
34 1915-11-01   10.3  1915     11  0.980392        0
35 1915-12-01   10.3  1915     12  1.980198        0
36 1916-01-01   10.4  1916      1  2.970297        0
37 1916-02-01   10.4  1916      2  4.000000        0
38 1916-03-01   10.5  1916      3  6.060606        0
39 1916-04-01   10.6  1916      4  6.000000        0
40 1916-05-01   10.7  1916      5  5.940594        0
41 1916-06-01   10.8  1916      6  6.930693        0

In [69]:
"""
graph = px.line(CPI_sub, x="date", y="inf_an", title="Pourcentage d'inflation annuelle de 1914 à 1962",animation_frame="year", animation_group="inf_neg")
# Légende et format des axes
graph.update_xaxes(title="Date", tickformat="%m-%Y",range=[1914-01-1,1963-12-01])
graph.update_yaxes(title="Inflation (%)",range=[-25,25])

# Style du graphique
graph.update_layout(template="plotly_dark")

# Commentaires
graph.add_annotation(x="1920-06-01", text="Maximum d'inflation sur la période", showarrow=True)
graph.show(renderer="browser")
"""

'\ngraph = px.line(CPI_sub, x="date", y="inf_an", title="Pourcentage d\'inflation annuelle de 1914 à 1962",animation_frame="year", animation_group="inf_neg")\n# Légende et format des axes\ngraph.update_xaxes(title="Date", tickformat="%m-%Y",range=[1914-01-1,1963-12-01])\ngraph.update_yaxes(title="Inflation (%)",range=[-25,25])\n\n# Style du graphique\ngraph.update_layout(template="plotly_dark")\n\n# Commentaires\ngraph.add_annotation(x="1920-06-01", text="Maximum d\'inflation sur la période", showarrow=True)\ngraph.show(renderer="browser")\n'

In [70]:
# Premières informations sur les périodes d'inflation négatives: 
CPI_neg=CPI_sub[CPI_sub['inf_neg'] == 1]
CPI_neg['inf_an'].describe()

count    158.000000
mean      -4.149776
std        4.029451
min      -15.789474
25%       -7.680995
50%       -2.228430
75%       -0.980392
max       -0.371747
Name: inf_an, dtype: float64

#### Identification des périodes d'accélération et de descélération

Différence relative par rapport au pourcentage d'inflation d'il y a un an.
A discuter: je pense qu'il est plus intéressant de regarder la différence relative. Pb: des fois on a des pourcentages d'inflation nulle. Ce sont les valeurs infinies dans le tableau. Soit je les laisse telles quelles, soit je les remplace par une valeur (je propose le max de acceleration_12?)

In [102]:
#peut-être à utiliser dans la création du pourcentage d'inflation
# .loc permet de gérer le statut de copie de CPI_sub
#je voulais faire en relatif mais problème avec les pourcentages négatifs (ln) ou nuls(b-a/a)
CPI_sub.loc[:, 'acceleration_12'] = (CPI_sub['inf_an']/CPI_sub['inf_an'].shift(12) - 1)*100 # peut-être
CPI_sub.head(30)
#quand valeur il y a 12 mois=0 inf

         date  value  year  month    inf_an  inf_neg  acceleration_12
12 1914-01-01   10.0  1914      1  2.040816        0              NaN
13 1914-02-01    9.9  1914      2  1.020408        0              NaN
14 1914-03-01    9.9  1914      3  1.020408        0              NaN
15 1914-04-01    9.8  1914      4  0.000000        0              NaN
16 1914-05-01    9.9  1914      5  2.061856        0              NaN
17 1914-06-01    9.9  1914      6  1.020408        0              NaN
18 1914-07-01   10.0  1914      7  1.010101        0              NaN
19 1914-08-01   10.2  1914      8  3.030303        0              NaN
20 1914-09-01   10.2  1914      9  2.000000        0              NaN
21 1914-10-01   10.1  1914     10  1.000000        0              NaN
22 1914-11-01   10.2  1914     11  0.990099        0              NaN
23 1914-12-01   10.1  1914     12  1.000000        0              NaN
24 1915-01-01   10.1  1915      1  1.000000        0       -51.000000
25 1915-02-01   10.0  1915      2  1.010101        0        -1.010101
26 1915-03-01    9.9  1915      3  0.000000        0      -100.000000
27 1915-04-01   10.0  1915      4  2.040816        0              inf
28 1915-05-01   10.1  1915      5  2.020202        0        -2.020202
29 1915-06-01   10.1  1915      6  2.020202        0        97.979798
30 1915-07-01   10.1  1915      7  1.000000        0        -1.000000
31 1915-08-01   10.1  1915      8 -0.980392        1      -132.352941
32 1915-09-01   10.1  1915      9 -0.980392        1      -149.019608
33 1915-10-01   10.2  1915     10  0.990099        0        -0.990099
34 1915-11-01   10.3  1915     11  0.980392        0        -0.980392
35 1915-12-01   10.3  1915     12  1.980198        0        98.019802
36 1916-01-01   10.4  1916      1  2.970297        0       197.029703
37 1916-02-01   10.4  1916      2  4.000000        0       296.000000
38 1916-03-01   10.5  1916      3  6.060606        0              inf
39 1916-04-01   10.6  1916      4  6.000000        0       194.000000
40 1916-05-01   10.7  1916      5  5.940594        0       194.059406
41 1916-06-01   10.8  1916      6  6.930693        0       243.069307

Graphique des pourcentages d'accélération (sans avoir remplacé les valeurs infinies)

In [72]:
# Création du graphique (sans avoir remplacé les valeurs infinies)
graph = px.line(CPI_sub, x="date", y="acceleration_12", title="Pourcentage d'accélération de l'inflation annuelle par rapport à sa valeur il y a un an de 1915 à 1962")

# Légende et format des axes
graph.update_xaxes(title="Date", tickformat="%m-%Y")
graph.update_yaxes(title="Accélération (%)")

# Style du graphique
graph.update_layout(template="plotly_dark")

# Commentaires: max, min, moyenne, médiane

meanp=CPI_sub.loc[CPI_sub["acceleration_12"] > 0, "acceleration_12"].mean()
meann=CPI_sub.loc[CPI_sub["acceleration_12"]<0,"acceleration_12"].mean()
medianp=CPI_sub.loc[CPI_sub["acceleration_12"]>0,"acceleration_12"].median()
mediann=CPI_sub.loc[CPI_sub["acceleration_12"]<0,"acceleration_12"].median()


# Pour l'instant l'ajout d'anotations fige le côté interactif du graphique
#graph.add_annotation(x=date_max, y=max, text="Maximum", showarrow=True, xref="x", yref="y") 
#graph.add_annotation(x=date_min, y=min, text="Minimum", showarrow=True)

graph.add_hline(y=meanp, line_dash="dot", line_color="yellow", annotation_text="Accélération moyenne", annotation_position="top left", annotation_font_color="yellow")
graph.add_hline(y=medianp, line_dash="dot", line_color="white", annotation_text="Accélération médiane", annotation_position="bottom right", annotation_font_color="white")
graph.add_hline(y=meann, line_dash="dot", line_color="yellow", annotation_text="Décélération moyenne", annotation_position="top left", annotation_font_color="yellow")
graph.add_hline(y=mediann, line_dash="dot", line_color="white", annotation_text="Décélération médiane", annotation_position="bottom right", annotation_font_color="white")
#graph.add_hline(y=0, line_color="red")

# Afficher le graphique avec zoom possible et barre à outil
graph.show(renderer="browser",config={"scrollZoom": True, "displayModeBar": True}) #pour l'instant je n'ai pas réussi à résoudre le pb pour que ça s'affiche directement dans le notebook

Graphiques en remplaçant les valeurs infinies par la moyenne de la valeur précédente et de la valeur suivante

In [103]:
# moyenne valeur d'avant et après

# On le fait un nb arbitraire de fois pour traiter les cas de 3,4,5,6 valeurs infinies se suivant. 
# On ne fait pas une boucle while par exemple sur la moyenne pour éviter les boucles infinies

for i in range(5):
    # traitement des valeurs infinies isolées: remplacement par la moyenne entre la valeur précédente et la valeur suivante
    CPI_sub.loc[
        abs(CPI_sub["acceleration_12"]) == np.inf,
        "acceleration_12"
    ] = (CPI_sub["acceleration_12"].shift(1) + CPI_sub["acceleration_12"].shift(-1)) / 2
    #traitement des valeurs infinies suivies de valeurs infinies: remplacement par la valeur précédente
    CPI_sub.loc[
        (abs(CPI_sub["acceleration_12"]) == np.inf) & (abs(CPI_sub["acceleration_12"].shift(-1)) == np.inf),
        "acceleration_12"
    ] = CPI_sub["acceleration_12"].shift(1)

    #traitement des valeurs infinies précédées de valeurs infinies: remplacement par la valeur suivante
    CPI_sub.loc[
        (abs(CPI_sub["acceleration_12"]) == np.inf) & (abs(CPI_sub["acceleration_12"].shift(1)) == np.inf),
        "acceleration_12"
    ] = CPI_sub["acceleration_12"].shift(-1)

CPI_sub.head(20)

         date  value  year  month    inf_an  inf_neg  acceleration_12
12 1914-01-01   10.0  1914      1  2.040816        0              NaN
13 1914-02-01    9.9  1914      2  1.020408        0              NaN
14 1914-03-01    9.9  1914      3  1.020408        0              NaN
15 1914-04-01    9.8  1914      4  0.000000        0              NaN
16 1914-05-01    9.9  1914      5  2.061856        0              NaN
17 1914-06-01    9.9  1914      6  1.020408        0              NaN
18 1914-07-01   10.0  1914      7  1.010101        0              NaN
19 1914-08-01   10.2  1914      8  3.030303        0              NaN
20 1914-09-01   10.2  1914      9  2.000000        0              NaN
21 1914-10-01   10.1  1914     10  1.000000        0              NaN
22 1914-11-01   10.2  1914     11  0.990099        0              NaN
23 1914-12-01   10.1  1914     12  1.000000        0              NaN
24 1915-01-01   10.1  1915      1  1.000000        0       -51.000000
25 1915-02-01   10.0  1915      2  1.010101        0        -1.010101
26 1915-03-01    9.9  1915      3  0.000000        0      -100.000000
27 1915-04-01   10.0  1915      4  2.040816        0       -51.010101
28 1915-05-01   10.1  1915      5  2.020202        0        -2.020202
29 1915-06-01   10.1  1915      6  2.020202        0        97.979798
30 1915-07-01   10.1  1915      7  1.000000        0        -1.000000
31 1915-08-01   10.1  1915      8 -0.980392        1      -132.352941

In [104]:
CPI_sub["acceleration_12"].describe()

count     571.000000
mean      -34.855874
std       326.991413
min     -2309.282700
25%      -119.275362
50%       -41.016949
75%        31.073446
max      1587.943262
Name: acceleration_12, dtype: float64

In [105]:
# Création du graphique (sans avoir remplacé les valeurs infinies)
graph = px.line(CPI_sub, x="date", y="acceleration_12", title="Pourcentage d'accélération de l'inflation annuelle par rapport à sa valeur il y a un an de 1915 à 1962")

# Légende et format des axes
graph.update_xaxes(title="Date", tickformat="%m-%Y")
graph.update_yaxes(title="Accélération (%)")

# Style du graphique
graph.update_layout(template="plotly_dark")

# Commentaires: max, min, moyenne, médiane

meanp=CPI_sub.loc[CPI_sub["acceleration_12"] > 0, "acceleration_12"].mean()
meann=CPI_sub.loc[CPI_sub["acceleration_12"]<0,"acceleration_12"].mean()
medianp=CPI_sub.loc[CPI_sub["acceleration_12"]>0,"acceleration_12"].median()
mediann=CPI_sub.loc[CPI_sub["acceleration_12"]<0,"acceleration_12"].median()


# Pour l'instant l'ajout d'anotations fige le côté interactif du graphique
#graph.add_annotation(x=date_max, y=max, text="Maximum", showarrow=True, xref="x", yref="y") 
#graph.add_annotation(x=date_min, y=min, text="Minimum", showarrow=True)

graph.add_hline(y=meanp, line_dash="dot", line_color="yellow", annotation_text="Accélération moyenne", annotation_position="top left", annotation_font_color="yellow")
graph.add_hline(y=medianp, line_dash="dot", line_color="white", annotation_text="Accélération médiane", annotation_position="bottom right", annotation_font_color="white")
graph.add_hline(y=meann, line_dash="dot", line_color="yellow", annotation_text="Décélération moyenne", annotation_position="top left", annotation_font_color="yellow")
graph.add_hline(y=mediann, line_dash="dot", line_color="white", annotation_text="Décélération médiane", annotation_position="bottom right", annotation_font_color="white")
#graph.add_hline(y=0, line_color="red")

# Afficher le graphique avec zoom possible et barre à outil
graph.show(renderer="browser",config={"scrollZoom": True, "displayModeBar": True}) #pour l'instant je n'ai pas réussi à résoudre le pb pour que ça s'affiche directement dans le notebook

# 2- Analyse de fréquence sur le corpus de presse

## 2.1- Création des fichiers de fréquence

## 2.2- Statistiques descriptives sur les fréquences

In [6]:
# Récupération des données: voir si adaptation une fois les emrges effectués

freq_40 = pd.read_csv("frequences_data_1940_1949.csv")
freq_40.head()

,key,nbre_articles,inflation,disinflation,inflationary,deflation,prices,cost,wages,currency,...,consumption basket,purchasing power,consumer price index,rise in prices,fall in prices,cost of living,inflation expectations,money supply growth,central bank policy,economic price adjustments
0,1940-01,40090,4,0,3,1,778,1557,184,81,...,0,27,0,1,0,11,0,0,0,0
1,1940-02,41579,3,0,2,1,760,1534,177,83,...,0,23,0,1,0,8,0,0,0,0
2,1940-03,47118,0,0,0,1,852,1769,198,75,...,0,18,0,1,0,7,0,0,0,0
3,1940-04,44607,2,0,1,0,802,1622,154,88,...,0,18,0,2,0,5,0,0,0,0
4,1940-05,43840,3,0,2,2,818,1879,216,53,...,0,10,0,1,0,15,0,0,0,0