# Récupération et Nettoyage des données

## Récupération des données CPIAUCNS
Consumer Price Index for All Urban Consumers: All Items in U.S. City Average 
Source: Fed Saint Louis

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


url="https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1140&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=CPIAUCNS&scale=left&cosd=1913-01-01&coed=2024-09-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Monthly&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date=2024-10-27&revision_date=2024-10-27&nd=1913-01-01"

CPI_Urban = pd.read_csv(url, on_bad_lines='skip')

CPI_Urban.head(10)

         DATE  CPIAUCNS
0  1913-01-01       9.8
1  1913-02-01       9.8
2  1913-03-01       9.8
3  1913-04-01       9.8
4  1913-05-01       9.7
5  1913-06-01       9.8
6  1913-07-01       9.9
7  1913-08-01       9.9
8  1913-09-01      10.0
9  1913-10-01      10.0

Informations générales sur le jeu de données:

In [20]:
CPI_Urban.axes
CPI_Urban.dtypes

[RangeIndex(start=0, stop=1341, step=1),
 Index(['DATE', 'CPIAUCNS'], dtype='object')]

Traitement des dates

In [31]:

CPI_Urban['DATE'] = pd.to_datetime(CPI_Urban['DATE'])
CPI_Urban['year'] = CPI_Urban['DATE'].dt.year
CPI_Urban['month'] = CPI_Urban['DATE'].dt.month

Création de sous-tableaux pour découper la période

In [41]:
beg_years=[1914,1920,1929, 1939, 1946,1951]
end_years=[1919,1928,1938, 1945, 1950, 1960]

for i in range(6):
    print(i, beg_years[i], end_years[i])
    CPI_Urban_i= CPI_Urban.loc[(CPI_Urban['year'] >= beg_years[i]) & (CPI_Urban['year']  <= end_years[i])]
    print (CPI_Urban_i.head(1),"",CPI_Urban_i.tail(1))
    print()
#Pb de nom, peut-être faire avec un dictionnaire

0 1914 1919
         DATE  CPIAUCNS  year  month
12 1914-01-01      10.0  1914      1           DATE  CPIAUCNS  year  month
83 1919-12-01      18.9  1919     12

1 1920 1928
         DATE  CPIAUCNS  year  month
84 1920-01-01      19.3  1920      1            DATE  CPIAUCNS  year  month
191 1928-12-01      17.1  1928     12

2 1929 1938
          DATE  CPIAUCNS  year  month
192 1929-01-01      17.1  1929      1            DATE  CPIAUCNS  year  month
311 1938-12-01      14.0  1938     12

3 1939 1945
          DATE  CPIAUCNS  year  month
312 1939-01-01      14.0  1939      1            DATE  CPIAUCNS  year  month
395 1945-12-01      18.2  1945     12

4 1946 1950
          DATE  CPIAUCNS  year  month
396 1946-01-01      18.2  1946      1            DATE  CPIAUCNS  year  month
455 1950-12-01      25.0  1950     12

5 1951 1960
          DATE  CPIAUCNS  year  month
456 1951-01-01      25.4  1951      1            DATE  CPIAUCNS  year  month
575 1960-12-01      29.8  1960     12

Gestion du caractère indiciaire des données